Node-Red_Dashboard/Node_red_TTGO_4_Buttons.txt
[{"id":"de03bd4a.97a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"cb634a8e.3fa418","type":"mqtt out","z":"de03bd4a.97a","name":"TTGO_TEST_RELAY","topic":"application/5/device/00f56c3d96bf4582/tx","qos":"","retain":"","broker":"f747a08a.8a1a5","x":620,"y":60,"wires":[]},{"id":"74aa8c1f.21a8a4","type":"mqtt in","z":"de03bd4a.97a","name":"TTGO_TEST_RELAY","topic":"application/5/device/00f56c3d96bf4582/rx","qos":"2","datatype":"auto","broker":"f747a08a.8a1a5","x":160,"y":340,"wires":[["6a8129f3.54d868"]]},{"id":"ad03744f.493f88","type":"debug","z":"de03bd4a.97a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":420,"wires":[]},{"id":"6a8129f3.54d868","type":"json","z":"de03bd4a.97a","name":"","property":"payload","action":"","pretty":false,"x":350,"y":380,"wires":[["ad03744f.493f88"]]},{"id":"10662f2e.01ce11","type":"ui_button","z":"de03bd4a.97a","name":"Relay1","group":"47ebbb6c.0454a4","order":0,"width":0,"height":0,"passthru":false,"label":"Relay1","tooltip":"Relay1","color":"black","bgcolor":"yellow","icon":"","payload":"{\"confiremed\":true,\"fPort\":1, \"data\":\"AQ==\"}","payloadType":"json","topic":"","x":220,"y":60,"wires":[["cb634a8e.3fa418"]]},{"id":"25a0f5a8.fde2da","type":"ui_button","z":"de03bd4a.97a","name":"Relay2","group":"47ebbb6c.0454a4","order":0,"width":0,"height":0,"passthru":false,"label":"Relay2","tooltip":"Relay2","color":"black","bgcolor":"yellow","icon":"","payload":"{\"confiremed\":true,\"fPort\":2, \"data\":\"Ag==\"}","payloadType":"json","topic":"","x":220,"y":100,"wires":[["cb634a8e.3fa418"]]},{"id":"2ca6b79f.97d808","type":"ui_button","z":"de03bd4a.97a","name":"Relay3","group":"47ebbb6c.0454a4","order":0,"width":0,"height":0,"passthru":false,"label":"Relay3","tooltip":"Relay3","color":"black","bgcolor":"yellow","icon":"","payload":"{\"confiremed\":true,\"fPort\":3, \"data\":\"Aw==\"}","payloadType":"json","topic":"","x":220,"y":140,"wires":[["cb634a8e.3fa418"]]},{"id":"baedabc3.f00128","type":"ui_button","z":"de03bd4a.97a","name":"Relay4","group":"47ebbb6c.0454a4","order":0,"width":0,"height":0,"passthru":false,"label":"Relay4","tooltip":"Relay4","color":"black","bgcolor":"yellow","icon":"","payload":"{\"confiremed\":true,\"fPort\":4, \"data\":\"BA==\"}","payloadType":"json","topic":"","x":220,"y":180,"wires":[["cb634a8e.3fa418"]]},{"id":"1389b4c8.90c34b","type":"ui_button","z":"de03bd4a.97a","name":"Reset_All","group":"47ebbb6c.0454a4","order":0,"width":0,"height":0,"passthru":false,"label":"Reset_All","tooltip":"Reset_All","color":"black","bgcolor":"yellow","icon":"","payload":"{\"confiremed\":true,\"fPort\":5, \"data\":\"AA==\"}","payloadType":"json","topic":"","x":220,"y":220,"wires":[["cb634a8e.3fa418"]]},{"id":"f747a08a.8a1a5","type":"mqtt-broker","z":"","name":"Eniware Chirpstack","broker":"192.168.50.9","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"47ebbb6c.0454a4","type":"ui_group","z":"","name":"Click_Relay","tab":"6baca387.ae71cc","disp":true,"width":"6","collapse":false},{"id":"6baca387.ae71cc","type":"ui_tab","z":"","name":"TTGO_NO_Displ_Relay","icon":"dashboard","order":6,"disabled":false,"hidden":false}]